<ul class="errors">
  <% @comedian.errors.full_messages.each do |error| %>
    <li>
      <%= error %>
    </li> 
  <% end %>
</ul>

<%= form_for(@comedian) do |f| %>
    
  <div id="stage_name">
    <%= f.label :stage_name %>
    <%= f.text_field :stage_name, value: @comedian.try(:stage_name) %>
  </div>
    
  <div id="contact">
    <%= f.label "Contact Details" %>
    <%= link_to(@comedian.user.try(:email), edit_user_registration_path)  %>
    <%= f.radio_button :email_is_public, true, value: true, checked: @comedian.email_is_public %> <%= f.label "Email public" %>  
    <%= f.radio_button :email_is_public, false, value: false, checked: !@comedian.email_is_public %><%= f.label "Email private" %>
  </div>
  
  <div id="media">
    <div class="row">
      <div class="small-12 medium-6 small-centered columns">
        <div id="pic">
          <%= f.label :image %>
          <%= image_tag @comedian.image_url(:large) || "silhouette.png" %>
          <%= f.file_field :image, class: "button expand" %>
          <%= f.label :remote_image_url, "or image URL" %><br />
          <%= f.text_field :remote_image_url %>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns">
        <%= f.label "Youtube video link" %>
        <%= f.text_field :video, value: @comedian.try(:video) %>
        </div>
    </div>
    <div class="row">
      <div class="small-12 medium-10 small-centered columns">
        <%= raw(youtube_embed(@comedian.try(:video))) %>
      </div>
    </div>
  </div>
  <div id="text">
    <div id="bio">
      <%= f.label "Biography" %><br />
      <%= f.text_area :bio, value: @comedian.try(:bio) || "No bio supplied."%><br />
    </div>
  </div>


  <p><%= f.submit id: "submit", value: "Save", class: "button expand" %></p>

<% end %>
