<p id="notice"><%= notice %></p>

<h1 id="name"><%= @comedian.try(:stage_name) %> <%= link_to "Edit", edit_comedian_path if @comedian == current_user %>
</h1>


<% if current_user %>
  <p>Your rating:
  <%= form_for @rating do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :comedian_id, value: @comedian.id %>
    <%= f.label "Rating" %>
    <%= f.text_field :score, value: @rating.score %>
    <%= f.submit %>
  </p>
  <% end %>

<% end %>

<p>Average rating: <%= @comedian.avg_rating.nan? ? "no votes" : @comedian.avg_rating  %></p>

<div id="media">
  <div id="pic">
    <%= image_tag @comedian.image.url || "mic.svg" %>
  </div>
  <div id="video">
    <%= @comedian.try(:video) || "No video supplied." %></br>
    <%= raw(youtube_embed(@comedian.try(:video))) %>
  </div>
</div>

<div id="text">
  <div id="bio">
    Bio: <%= simple_format(@comedian.try(:bio) || "No biography information available.") %>
  </div>
</div>
