<p id="notice"><%= notice %></p>
<%= link_to "Edit", edit_user_path %>

<h1 id="name"><%= @user.try(:name) %></h1>

<div id="media">
  <div id="pic">
    <%= image_tag @user.user_image.url || "mic.svg" %>
  </div>
  <div id="video">
    <%= @user.try(:video) || "No video supplied." %></br>
    <%= raw(youtube_embed(@user.try(:video))) %>
  </div>
</div>

<div id="text">
  <div id="bio">
    Bio: <%= simple_format(@user.try(:bio) || "No biography information available.") %>
  </div>
</div>
