<div id="rating">
  <% if current_user %>
    Your rating:

    <% if @rating.score %>
      <% @rating.score.times do |n| %>
        <%= form_for @rating do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :comedian_id, value: @comedian.id %>
          <%= f.hidden_field :score, value: n+1 %>
          <%= f.submit value: "", class: "star_button" %>
        <% end %>
      <% end %>

      <% (5-@rating.score).times do |n| %>
        <%= form_for @rating do |f| %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :comedian_id, value: @comedian.id %>
          <%= f.hidden_field :score, value: @rating.score+n+1 %>
          <%= f.submit value: "", class: "star_unchecked_button" %>
        <% end %>
      <% end %>

    <% else %>
      
    <% end %>
  <% end %> 
</div>