<!DOCTYPE html>
<html>
<head>
  <title>Comedy Seed</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>

  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Short+Stack' %>


  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <nav>
    <ul>
      <li><%= link_to image_tag("comedy_seed_logo.png"), root_path %></li>
      <li><%= link_to "Comedians", users_path %></li>

      <% if current_user %>
        <li><%= link_to "Profile", current_user %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to "Sign In", new_user_session_path %></li>
        <li><%= link_to "I'm a comedian, register me.", new_user_registration_path %></li>
      <% end %>


      <li>
        <%= search_form_for @q do |f| %>
        <%= f.text_field :name_cont %>
        <%= f.submit %>
        <% end %>
      </li>
    </ul>
  
  </nav>

<div id="container">

<%= yield %>

</div>

</body>
</html>
